{% set navigation = { 'list': 'Liste' } %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="robots" content="noindex,nofollow" />
        <link href="{{ app.request.basepath }}/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="{{ app.request.basepath }}/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="{{ app.request.basepath }}/assets/css/main.css" rel="stylesheet" />
        <title>OpenTest</title>
    </head>
    <body>

        <div class="container-fluid">

            <header class="masthead">
                {% block navigation %}
                <ul class="nav nav-pills pull-right">
                    {% for route, label in navigation %}
                    <li{% if route == app.request.get('_route') %} class="active"{% endif %}>
                        <a href="{{ path(route) }}">{{ label }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endblock %}
                <h1 class="muted">OpenTest</h1>
            </header>

            <hr />

            <div class="row-fluid">
                <h2>{% block content_title %}{% endblock %}</h2>
                {% block content %}{% endblock %}
            </div>

            <hr />

            <footer>
                <p>&copy; Mentalworks {{ 'now'|date('Y') }}</p>
            </footer>

        </div>

        <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/main.js"></script>

    </body>
</html>