{% from 'Macro/flash.twig' import session_flash %}

{% set navigation = { 'list': 'Liste' } %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="robots" content="noindex,nofollow" />
        <link href="{{ app.request.basepath }}/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link href="{{ app.request.basepath }}/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="{{ app.request.basepath }}/assets/css/jquery.terminal.css" rel="stylesheet" />
        <link href="{{ app.request.basepath }}/assets/css/main.css" rel="stylesheet" />
        <title>OpenTest</title>
    </head>
    <body>

        <div class="container-fluid">

            <header class="masthead">
                {% block navigation %}
                <ul class="nav nav-pills pull-right">
                    {% for route, label in navigation %}
                    <li{% if route == app.request.get('_route') %} class="active"{% endif %}>
                        <a href="{{ path(route) }}">{{ label }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endblock %}
                <h1 class="muted">OpenTest</h1>
            </header>

            <hr />

            {% block flashes %}
            {% if app.session.flashbag.peekAll|length > 0 %}
            <div class="row-fluid">
                <div class="span12">
                {{ session_flash() }}
                </div>
            </div>
            {% endif %}
            {% endblock flashes %}

            <div class="row-fluid">
                <h2>{% block content_title %}{% endblock %}</h2>
                {% block content %}{% endblock %}
            </div>

            <hr />

            <footer>
                <p>&copy; OpenTest {{ 'now'|date('Y') }}</p>
            </footer>

        </div>

        <script type="text/javascript">
            var SOCKET_IO_URL = "{{ socketio_url }}";
            var BASE_URL = "{{ base_url }}";
        </script>

        <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/underscore-min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/jquery.terminal-0.6.5.min.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.6/socket.io.min.js"></script>
        <script type="text/javascript" src="{{ app.request.basepath }}/assets/js/main.js"></script>

    </body>
</html>