<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th class="span2">Site</th>
        <th class="span3">Système d'exploitation</th>
        <th class="span2">Serveur</th>
        <th class="span2">Langages</th>
        <th class="span2">CMS</th>
        <th class="span2">Eléments</th>
    </tr>
    </thead>
    <tbody>
    {% for website in websites %}
        <tr>
            <td>
                <h4><a href="{{ url('pentests', {website: website.site.host}) }}">{{ website.site.host }}</a></h4>
                <p><small>{{ website.getDescription() }}</small></p>
            </td>
            <td>{{ website.getOperatingSystem()|join(',') }}</td>
            <td>{{ website.getWebServer()|join(',') }}</td>
            <td>
                <strong>Client:</strong> {{ website.getClientLanguage()|join(',')|default('Aucun') }}<br />
                <strong>Serveur:</strong> {{ website.getServerLanguage()|join(',')|default('Aucun') }}
            </td>
            <td>{{ website.getCms()|join(',') }}</td>
            <td>
                <ul>
                    {% for element in website.getSiteElements() %}
                        <li>{{ element }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>